In [1]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [9]:
df.shape

(100, 6)

In [9]:
df.shape

(100, 6)

In [3]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [6]:
from sklearn.model_selection import train_test_split
xtrain, xtest , ytrain, ytest = train_test_split(df.drop(columns = ['has_covid']),df['has_covid'], test_size = 0.2)

In [7]:
xtrain.head()

    age  gender  fever   cough       city
65   69  Female  102.0    Mild  Bangalore
34   74    Male  102.0    Mild     Mumbai
11   65  Female   98.0    Mild     Mumbai
20   12    Male   98.0  Strong  Bangalore
80   14  Female   99.0    Mild     Mumbai

In [11]:
from sklearn.compose import ColumnTransformer

In [14]:
transformer = ColumnTransformer(transformers=[
('tnf1' , SimpleImputer(), ['fever']),
    ('tnf2' , OrdinalEncoder(categories = [['Mild','Strong']]),['cough']),
    ('tnf3') , OneHotEncoder(sparse=False , drop = 'first'),['gender','city']
],remainder = 'passthrough')

In [15]:
transformer.fit_transform(xtrain).shape

TypeError: 'OneHotEncoder' object is not iterable