In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import matplotlib.pyplot as plt
import seaborn as sns

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.0.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "E:\anac\Lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "E:\anac\Lib\site-packages\traitlets\config\application.py", line 992, in launch_instance
    app.start()
  File "E:\anac\Lib\site-packages\ipykernel\kernelapp.py", line 711, in start
    self.io_loop.start()
  File "E:\anac\Lib\site-packages\tornado\platform\asyncio.py", line 215, in start
    self.asyncio_loop.run_forever()
  File "E:\anac\Lib\asyncio\base_events.py", line 607, in run_forever
    self._run_once()
  File "E:\anac\Lib\asyncio\base_events.py", line 1922, in _run_once
    handle._run()
  File "E:\anac\Lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "E:\anac\Lib\site-packages\ipykernel\kernelbase.py", line 510, in dispatch_queue
    await self.process_one()
  File "E:\anac\Lib\site-packages\ipykernel\kernelbase.py", line 499, in process_one
    await dispatch(*args)
  File "E:\anac\Lib\site-packages\ipykernel\kernelbase.py", line 406, in dispatch_shell
    await result
  File "E:\anac\Lib\site-packages\ipykernel\kernelbase.py", line 729, in execute_request
    reply_content = await reply_content
  File "E:\anac\Lib\site-packages\ipykernel\ipkernel.py", line 411, in do_execute
    res = shell.run_cell(
  File "E:\anac\Lib\site-packages\ipykernel\zmqshell.py", line 531, in run_cell
    return super().run_cell(*args, **kwargs)
  File "E:\anac\Lib\site-packages\IPython\core\interactiveshell.py", line 3006, in run_cell
    result = self._run_cell(
  File "E:\anac\Lib\site-packages\IPython\core\interactiveshell.py", line 3061, in _run_cell
    result = runner(coro)
  File "E:\anac\Lib\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "E:\anac\Lib\site-packages\IPython\core\interactiveshell.py", line 3266, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "E:\anac\Lib\site-packages\IPython\core\interactiveshell.py", line 3445, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "E:\anac\Lib\site-packages\IPython\core\interactiveshell.py", line 3505, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Lenovo\AppData\Local\Temp\ipykernel_3112\1396728682.py", line 2, in <module>
    import pandas as pd
  File "E:\anac\Lib\site-packages\pandas\__init__.py", line 39, in <module>
    from pandas.compat import (
  File "E:\anac\Lib\site-packages\pandas\compat\__init__.py", line 27, in <module>
    from pandas.compat.pyarrow import (
  File "E:\anac\Lib\site-packages\pandas\compat\pyarrow.py", line 8, in <module>
    import pyarrow as pa
  File "E:\anac\Lib\site-packages\pyarrow\__init__.py", line 65, in <module>
    import pyarrow.lib as _lib

AttributeError: _ARRAY_API not found

ValueError: numpy.dtype size changed, may indicate binary incompatibility. Expected 96 from C header, got 88 from PyObject

In [2]:
data = pd.read_csv('nepalhomes.csv')

In [3]:
data.head()

,Unnamed: 0,Title,Location,Price,Land Area,House Area,Bedrooms,Bathrooms,Floors,Parking,Road
0,0,Hotel Resort for Sale,"Panchkhal, Kavrepalanchok",Rs. 12Cr,NaN,NaN,15.0,15.0,2.0,30 Cars & 50 Bikes,20 Feet
1,1,House for Sale,"Sukedhara, Kathmandu",Rs. 3.99Cr,NaN,NaN,6.0,3.0,2.5,1 Car,13 Feet
2,2,House for Sale,"Dhumbarahi, Kathmandu",Rs. 6.6Cr,NaN,NaN,8.0,4.0,3.0,4 Cars & 5 Bikes,12 Feet
3,3,Bungalow House for Sale,"Dhumbarahi, Kathmandu",Rs. 4.49Cr,NaN,NaN,5.0,8.0,2.5,2 Cars & 4 Bikes,19 Feet
4,4,Bungalow House for Sale,"Budhanilkantha, Kathmandu",Rs. 3.79Cr,NaN,NaN,6.0,5.0,2.5,1 Car & 3 Bikes,14 Feet

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1976 entries, 0 to 1975
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1976 non-null   int64
 1   Title       1976 non-null   object
 2   Location    1976 non-null   object
 3   Price       1976 non-null   object
 4   Land Area   1540 non-null   object
 5   House Area  579 non-null    object
 6   Bedrooms    1683 non-null   float64
 7   Bathrooms   1600 non-null   float64
 8   Floors      1940 non-null   float64
 9   Parking     1073 non-null   object
 10  Road        1949 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 169.9+ KB

In [6]:
data.shape

(1976, 11)

In [7]:
data.isnull().sum()

Unnamed: 0       0
Title            0
Location         0
Price            0
Land Area      436
House Area    1397
Bedrooms       293
Bathrooms      376
Floors          36
Parking        903
Road            27
dtype: int64

In [12]:
df=pd.DataFrame(data)
print(df['Location'].unique())

['Panchkhal, Kavrepalanchok' 'Sukedhara, Kathmandu'
 'Dhumbarahi, Kathmandu' 'Budhanilkantha, Kathmandu'
 'Ganesh Chowk, Kathmandu' 'Gongabu, Kathmandu' 'Bhaisepati, Lalitpur'
 'Aakasedhara, Kathmandu' 'Basundhara, Kathmandu' 'Samakhusi, Kathmandu'
 'Tikathali, Lalitpur' 'Golfutar, Kathmandu' 'Pasikot, Kathmandu'
 'Makalbari, Kathmandu' 'Siddhartha Colony, Kathmandu'
 'Maharajgunj, Kathmandu' 'Chapali, Kathmandu' 'Lasuntar, Kathmandu'
 'Thulobharyang, Kathmandu' 'Gahana Pokhari, Kathmandu'
 'Raniban, Kathmandu' 'Satdobato, Lalitpur' 'Sundarbasti, Kathmandu'
 'Bhangal , Kathmandu' 'Deuwa chowk, Kathmandu' 'Nakhipot, Lalitpur'
 'Kalanki, Kathmandu' 'Rudreshwor, Kathmandu' 'Sitapakha, Lalitpur'
 'Hattiban, Lalitpur' 'Hepali Height, Kathmandu' 'Naxal, Kathmandu'
 'Tangal, Kathmandu' 'Narayanthan , Kathmandu'
 'Grande Hospital, Kathmandu' 'Imadol, Lalitpur' 'Lazimpat, Kathmandu'
 'Panipokhari, Kathmandu' 'Chunikhel, Kathmandu' 'Shital Height, Lalitpur'
 'Godawari, Lalitpur' 'Hattigaunda, Kathmandu' 'Buddhanagar, Kathmandu'
 'Baniyatar, Kathmandu' 'Gothatar, Kathmandu' 'Bansbari, Kathmandu'
 'Ochu Height, Lalitpur' 'Gatthaghar, Bhaktapur' 'Chyasundole, Kathmandu'
 'Kadaghari, Kathmandu' 'Baluwakhani, Kathmandu' 'Kapan, Kathmandu'
 'Gokarna, Kathmandu' 'Icimod, Lalitpur' 'Kharibot, Kathmandu'
 'Pepsicola, Kathmandu' 'Harisiddhi, Lalitpur' 'Satungal, Kathmandu'
 'Soltimode, Kathmandu' 'Khumaltar, Lalitpur' 'Mudkhu, Kathmandu'
 'Lubhu, Lalitpur' 'Baluwatar, Kathmandu' 'Gurjudhara, Kathmandu'
 'Mahalaxmisthan, Lalitpur' 'Nagarjun, Kathmandu' 'Dhungeadda, Kathmandu'
 'Butwal, Rupandehi' 'Khadka Gaun, Kathmandu' 'Dholahiti, Lalitpur'
 'Dhapakhel, Lalitpur' 'Tokha Saraswoti, Kathmandu' 'Sitapaila, Kathmandu'
 'Chardobato, Bhaktapur' 'Mandikhatar, Kathmandu' 'Maitidevi, Kathmandu'
 'Sanagaun, Lalitpur' 'Mulpani, Kathmandu' 'Jharuwarasi, Lalitpur'
 'Ramkot, Kathmandu' 'Lamatar, Lalitpur' 'Pokhara, Kaski'
 'Setipakha, Lalitpur' 'Machhe Gaun, Kathmandu' 'Bishundole, Lalitpur'
 'Tahachal, Kathmandu' 'Sanagaun Lubhu, Lalitpur' 'Anamnagar, Kathmandu'
 'Jhaukhel, Bhaktapur' 'Bouddha, Kathmandu' 'Galkopakha, Kathmandu'
 'Bojepokhari, Lalitpur' 'Dhalmal, Kathmandu' 'New Buspark, Kathmandu'
 'Katunje, Bhaktapur' 'Ason, Kathmandu' 'Dhapasi, Kathmandu'
 'Jorpati, Kathmandu' 'Jwagal, Lalitpur' 'Gwarko, Lalitpur'
 'Rajkulo, Lalitpur' 'New Baneshwor, Kathmandu' 'Bagdol, Lalitpur'
 'Jitpurphedi, Kathmandu' 'Changathali, Lalitpur' 'Itahari, Sunsari'
 'Mahankal, Kathmandu' 'Syuchatar, Kathmandu' 'Dhunga Sangu, Lalitpur'
 'Dhunchepakha, Bhaktapur' 'Chhetrapati, Kathmandu' 'Tokha, Kathmandu'
 'Chabahil, Kathmandu' 'Italitar, Kathmandu' 'Shantinagar, Kathmandu'
 'Sipadol, Bhaktapur' 'Putalisadak, Kathmandu' 'Naya Bazar, Kathmandu'
 'Banasthali, Kathmandu' 'Amarsingh Chowk, Kaski' 'Chyasal, Lalitpur'
 'Koteshwor, Kathmandu' 'Thamel, Kathmandu' 'Thapathali, Kathmandu'
 'Sanepa, Lalitpur' 'Ram Mandir, Kathmandu' 'Bageshwori, Bhaktapur'
 'Bhaktapur, Bhaktapur' 'Bhairahawa, Rupandehi' 'Bafal, Kathmandu'
 'Naya Thimi, Bhaktapur' 'Shankhamul, Kathmandu' 'Lalitpur'
 'Besigaun, Kathmandu' 'Sanobharyang, Kathmandu' 'Lalitpur, Lalitpur'
 'Balkot, Bhaktapur' 'Bakhundole, Lalitpur' 'Bramhakhel, Kathmandu'
 'Nakkhu, Lalitpur' 'Sallaghari, Bhaktapur' 'Dadhikot, Bhaktapur'
 'Kuleshwor, Kathmandu' 'Jhapa' 'Kusunti, Lalitpur' 'Kusunti, Ramechhap'
 'Kirtipur, Kathmandu' 'Ramhiti, Kathmandu' 'Kapurdhara, Kathmandu'
 'Sinamangal, Kathmandu' 'Sunakothi, Lalitpur'
 'Samakhushi chowk, Kathmandu' 'Chamati, Kathmandu'
 'Gyaneshwor, Kathmandu' 'Darjeeling Height, Bhaktapur'
 'Chundevi, Kathmandu' 'Thaiba, Lalitpur' 'Duwakot, Bhaktapur'
 'Durbar Marga, Kathmandu' 'Thado Dhunga, Lalitpur'
 'Manjushree Marga, Lalitpur' 'Ekatabasti, Kathmandu'
 'Kupandole, Lalitpur' 'Bishalnagar, Kathmandu' 'Naya Naikap, Kathmandu'
 'Chappal karkhana, Kathmandu' 'Narayantar, Kathmandu'
 'Goldhunga, Kathmandu' 'Sano thimi, Bhaktapur' 'Kaski' 'Kathmandu'
 'Rampur, Chitwan' 'Purano Naikap, Kathmandu' 'Nalinchwok, Bhaktapur'
 'Morang' 'Suryabinayak, Bhaktapur' 'Bistagaun, Kathmandu'
 'Nayabasti, Kavrepalanchok' 'Wasik, Kathmandu' 'Indrayani, Kathmandu'
 'Sainbu, Lalitpur' 'Karyabinayak, Lalitpur' 'Muhanpokhari, Kathmandu'
 'Thecho, Lalitpur' 'Dhobighat, Lalitpur' 'Baneshwor, Kathmandu'
 'Birtamode, Jhapa' 'Chandragiri, Kathmandu' 'Swoyambhu, Kathmandu'
 'Sudal, Bhaktapur' 'Nil Barahi Mandir, Bhaktapur'
 'Katyani Chowk, Kathmandu' 'Gaurighat, Kathmandu' 'Chandol, Kathmandu'
 'Taukhel, Lalitpur' 'Bauthali, Kathmandu' 'Nayapati, Kathmandu'
 'Jyotinagar, Kathmandu' 'Mahadevtar, Kathmandu' 'Phutung, Kathmandu'
 'Balkumari, Lalitpur' 'Balkhu, Kathmandu' 'Uttardhoka, Kathmandu'
 'Tanahun' 'Lainchaur, Kathmandu' 'Greenhill City, Kathmandu'
 'Kamalpokhari, Kathmandu' 'Lolang, Kathmandu' 'Dakshindhoka, Kathmandu'
 'Mhaipi, Kathmandu' 'Greenland Chowk, Kathmandu' 'Panchetar, Kathmandu'
 'Deuwa Chowk, Kathmandu' 'Kageshwori, Kathmandu'
 'Suryadarshan Height, Kathmandu' 'New Road, Kathmandu'
 'Old Baneshwor, Kathmandu' 'Omsatiya, Rupandehi' 'Manamaiju, Kathmandu'
 'Thali, Kathmandu' 'Yogikuti, Rupandehi' 'Bagdurbar, Kathmandu'
 'Dillibazar, Kathmandu' 'Bijulibajar, Kathmandu' 'Ghattekulo, Kathmandu'
 'Lele, Lalitpur' 'Khusibu Town Planning, Kathmandu'
 'Sampang Chowk, Lalitpur' 'Balambu, Kathmandu' 'Dhaksi, Kathmandu'
 'Thankot, Kathmandu' 'Danchhi, Kathmandu' 'Mahadevsthan, Kathmandu'
 'Saraswotinagar, Kathmandu' 'Tandi, Chitwan' 'Gamcha, Bhaktapur'
 'Hattidanda, Kathmandu' 'Chhauni, Kathmandu' 'Mid Baneshwor, Kathmandu'
 'Naya Basti, Kathmandu' 'Bharatpur, Chitwan' 'Grande Villa, Kathmandu'
 'Matatirtha, Kathmandu' 'Lambagar, Kathmandu' 'Kaushaltar, Bhaktapur'
 'Janakpur, Dhanusa' 'Lakeside, Kaski' 'Tundaldevi, Kathmandu'
 'Gajuri, Dhading' 'Halgadha, Sunsari' 'Gairi Gaun, Kathmandu'
 'Aarubari, Kathmandu' 'Dharmasthali, Kathmandu' 'Nayabazar, Kathmandu'
 'Chardhara, Kathmandu' 'Nagaun, Kathmandu' 'Kalopool, Kathmandu'
 'Naikap, Kathmandu' 'Nepaltar, Kathmandu' 'Taulung, Kathmandu'
 'Jarankhu, Kathmandu' 'Maitrinagar, Kathmandu' 'Thimi, Bhaktapur'
 'Tyanglafat, Kathmandu' 'Buddha Chowk, Kathmandu'
 'Tenzing Chowk, Kathmandu' 'Dhobikhola, Kathmandu' 'Bagbazar, Kathmandu'
 'Ratopool, Kathmandu' 'Gairidhara, Kathmandu' 'Chyau Danda, Lalitpur'
 'Nagdaha, Lalitpur' 'Dahachowk, Kathmandu' 'Tripureshwor, Kathmandu'
 'Kumaripati, Lalitpur' 'Nakhudole, Lalitpur' 'Mandikatar, Kathmandu'
 'Tilingtar, Kathmandu' 'High Vision Colony, Kathmandu'
 'Panauti, Kavrepalanchok' 'Bhimsengola, Kathmandu'
 'Battisputali, Kathmandu' 'Gaushala, Kathmandu' 'Ranibari, Kathmandu'
 'Ichangu Narayan, Kathmandu' '28 Kilo, Kavrepalanchok'
 'Basanti Chowk, Kathmandu' 'Tindhara, Kathmandu' 'Bhotepul, Sunsari'
 'Kalyanpur, Chitwan' 'Tilganga, Kathmandu' 'Balaju, Kathmandu'
 'Machhapokhari, Kathmandu' 'Rai Chowk, Kathmandu'
 'Phulbari Colony, Kathmandu' 'Charkhal, Kathmandu' 'Balkhu, Lalitpur'
 'Paiyuntar, Kathmandu' 'Kalimati, Kathmandu' 'Radhe Radhe, Bhaktapur'
 'Boharatar, Kathmandu' 'Gundu, Bhaktapur' 'Jhamsikhel, Lalitpur'
 'Khusibu, Kathmandu' 'Khadpu, Kavrepalanchok' 'Baseni, Chitwan'
 'Gopikrishna Hall, Kathmandu' 'Sirutar, Bhaktapur' 'Panga, Kathmandu'
 'Handigaun, Kathmandu' 'Taudaha, Kathmandu' 'undefined'
 'Vinayak Colony, Lalitpur']

In [16]:
df = pd.DataFrame(data)

# Splitting the 'Location' column into 'Place' and 'District'
df[['Place', 'District']] = df['Location'].str.split(', ', expand=True)

# Dropping the original 'Location' column (optional)
df.drop(columns=['Location'], inplace=True)
df = df[df['District'].isin(['Kathmandu', 'Lalitpur', 'Bhaktapur'])]



# Display the result
df.head()

,Unnamed: 0,Title,Price,Land Area,House Area,Bedrooms,Bathrooms,Floors,Parking,Road,Place,District
1,1,House for Sale,Rs. 3.99Cr,NaN,NaN,6.0,3.0,2.5,1 Car,13 Feet,Sukedhara,Kathmandu
2,2,House for Sale,Rs. 6.6Cr,NaN,NaN,8.0,4.0,3.0,4 Cars & 5 Bikes,12 Feet,Dhumbarahi,Kathmandu
3,3,Bungalow House for Sale,Rs. 4.49Cr,NaN,NaN,5.0,8.0,2.5,2 Cars & 4 Bikes,19 Feet,Dhumbarahi,Kathmandu
4,4,Bungalow House for Sale,Rs. 3.79Cr,NaN,NaN,6.0,5.0,2.5,1 Car & 3 Bikes,14 Feet,Budhanilkantha,Kathmandu
5,5,Bungalow House for Sale,Rs. 3.75Cr,NaN,NaN,6.0,4.0,2.5,1 Car & 3 Bikes,13 Feet,Ganesh Chowk,Kathmandu

In [17]:
# Extracting the number of Cars and Bikes
df['Cars'] = df['Parking'].str.extract(r'(\d+)\s*Car[s]?')
df['Bikes'] = df['Parking'].str.extract(r'(\d+)\s*Bike[s]?')

# Filling NaN values with 0 and converting to integer type
df.fillna(0, inplace=True)
df['Cars'] = df['Cars'].astype(int)
df['Bikes'] = df['Bikes'].astype(int)

# Dropping the original 'Parking' column (optional)
df.drop(columns=['Parking'], inplace=True)

# Display the result
df.head()

,Unnamed: 0,Title,Price,Land Area,House Area,Bedrooms,Bathrooms,Floors,Road,Place,District,Cars,Bikes
1,1,House for Sale,Rs. 3.99Cr,0,0,6.0,3.0,2.5,13 Feet,Sukedhara,Kathmandu,1,0
2,2,House for Sale,Rs. 6.6Cr,0,0,8.0,4.0,3.0,12 Feet,Dhumbarahi,Kathmandu,4,5
3,3,Bungalow House for Sale,Rs. 4.49Cr,0,0,5.0,8.0,2.5,19 Feet,Dhumbarahi,Kathmandu,2,4
4,4,Bungalow House for Sale,Rs. 3.79Cr,0,0,6.0,5.0,2.5,14 Feet,Budhanilkantha,Kathmandu,1,3
5,5,Bungalow House for Sale,Rs. 3.75Cr,0,0,6.0,4.0,2.5,13 Feet,Ganesh Chowk,Kathmandu,1,3

In [18]:
df.drop(columns=[df.columns[0]], inplace=True)
df.head()

,Title,Price,Land Area,House Area,Bedrooms,Bathrooms,Floors,Road,Place,District,Cars,Bikes
1,House for Sale,Rs. 3.99Cr,0,0,6.0,3.0,2.5,13 Feet,Sukedhara,Kathmandu,1,0
2,House for Sale,Rs. 6.6Cr,0,0,8.0,4.0,3.0,12 Feet,Dhumbarahi,Kathmandu,4,5
3,Bungalow House for Sale,Rs. 4.49Cr,0,0,5.0,8.0,2.5,19 Feet,Dhumbarahi,Kathmandu,2,4
4,Bungalow House for Sale,Rs. 3.79Cr,0,0,6.0,5.0,2.5,14 Feet,Budhanilkantha,Kathmandu,1,3
5,Bungalow House for Sale,Rs. 3.75Cr,0,0,6.0,4.0,2.5,13 Feet,Ganesh Chowk,Kathmandu,1,3

In [19]:
# Convert 'Price' column to float, keeping only numeric values
df['Price'] = pd.to_numeric(df['Price'].replace(r'[^\d.]', '', regex=True), errors='coerce')

# Drop rows where 'Price' is NaN (if any non-numeric values were present)
df.dropna(subset=['Price'], inplace=True)

# Reset index (optional)
df.reset_index(drop=True, inplace=True)

# Display the result
df.head()

,Title,Price,Land Area,House Area,Bedrooms,Bathrooms,Floors,Road,Place,District,Cars,Bikes
0,House for Sale,0.50,0,3500 Sq. Ft.,7.0,3.0,2.5,16 Feet,Samakhusi,Kathmandu,1,2
1,Bungalow House for Sale,0.10,0,0,4.0,4.0,2.5,13 Feet,Pasikot,Kathmandu,0,0
2,Commercial Complex for Sale,0.13,0,0,0.0,0.0,5.0,32 Feet,Maharajgunj,Kathmandu,0,0
3,House for Sale,0.50,0,2500 Sq. Ft.,5.0,2.0,2.5,16 Feet,Chapali,Kathmandu,1,2
4,House for Sale,0.50,0,3000 Sq. Ft.,6.0,3.0,2.5,16 Feet,Lasuntar,Kathmandu,1,2

In [10]:
#splitting train test split
X= data.drop(columns='Price', axis=1)
y=data['Price']

In [11]:
from sklearn.datasets import load_iris
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report



# Split dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train Random Forest
rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

# Predictions
y_pred = rf.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Classification report
print(classification_report(y_test, y_pred))

ValueError: could not convert string to float: 'House for Sale'